h1 {
  color         : red;
  /* font          : 50pt georgia; */
  padding-left  : 0;
  padding-right : 0;
  margin-left   : auto;
  margin-right  : auto;
  display       : block;
  width         : 600px;
  border: 0;
}

html body {
  height: 100%;
  border: 0;
}

body {
  font: 20pt georgia;
  text-align: center;
}

/* header { */
  /* background: #dbdbdb; */
  /* height: 100px; */
  /* width: 100%; */
  /* z-index: 10; */
  /* position: fixed; */
/* } */

nav {
  left: 3%;
  top: 1%;
  width: 10%;
  height: 50px;
}

a {
  color: #ffff00;
}

a:hover {
  color: #00ff00;
}

#banner {
  width: 101%;
  height: 1000px;
  position: fixed;
  top: -2px;
  left: -2px;
  background: url("./images/maxresdefault.jpg");
  background-size: cover;
}

#banner_text:hover {
  color: rgb(222,66,48);
}

#banner_text {
  position: absolute;
  top: 15.5%;
  left: 25%;
  width: 50%;
  text-align: center;
  color: rgb(250, 255, 0);
}

#content {
  width: 101%;
  position: relative;
  top: 800px;
  left: -8px;
  background: #ebebeb;
  height: 1500px;
}

#explanation {
  color: blue;
  font: 30pt helvetica;
  text-align: center;
}

#first_math {
  font: 25pt georgia;
  display: block;
  text-align: left;
}

#mynetwork {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
  text-align: left;
}

@keyframes courrir {
  25% {transform: translate(100%, 0%);}
  50% {transform: translate(100%, 100%);}
  75% {transform: translate(0%, 100%);}
  100% {transform: translate(0%, 0%);}
}

#myanime {
  width: 100px;
  height: 100px;
  top: 25%;
  left: 40%;
  position: absolute;
  border-radius: 50%;
  background: cyan;
  animation: courrir 5s linear infinite;
  z-index: 10;
  font: 10pt arial;
  color: rgb(20, 20, 255);
}

#myanime:hover {
  background: rgb(100, 101, 250);
  color: orange;
}

#top_nav {
  left: 48%;
  position: absolute;
  color: orange;
}

#top_nav:hover {
  color: #00ff00;
}
